<!DOCTYPE html>
<html>
<head>
  <title>YOLOv8 Tomato Fresh/Rotten Detection</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
  <div class="container">
    <h1>>YOLOv8 Tomato Fresh/Rotten Detection</h1>
    <div class="content-container">
      <p>Upload file</p>
    </div>
    <form method="POST" enctype="multipart/form-data">
      <input type='file' name="file" accept='image/png, image/jpeg'/>
      <button type='submit'>Submit</button>
    </form>
    {% if detection_results %}
    <img src="data:image/png;base64,{{detection_results}}"/>
    {% endif %}
  </div>
</body>
</html>